@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200;300;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap");
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top {
    flex-direction: column;
  }
}
.about .abt_wrapper .abt_top .abt_left {
  width: 28.7%;
  height: 770px;
  margin-right: 20px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_left {
    width: 100%;
    height: -moz-min-content !important;
    height: min-content !important;
  }
}
.about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap {
  position: sticky;
  position: -webkit-sticky;
  height: -moz-min-content;
  height: min-content;
  top: 0px;
}
.about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_me_title {
  font-family: "Space Mono";
  color: var(--text-color);
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_me_title {
    text-align: center;
  }
}
.about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_p_wrap {
  position: relative;
  height: 220px;
  width: 220px;
  margin: 2rem 0;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_p_wrap {
    margin: 2rem auto;
  }
}
.about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_p_wrap .abt_p_bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 23px;
  border: 30px solid transparent;
  background-clip: padding-box;
  filter: blur(4px);
  opacity: 0.8;
  animation: changeBackground 60s ease-in-out infinite;
}
@keyframes changeBackground {
  0%, 100% {
    background: linear-gradient(165deg, #db2777, #9333ea);
  }
  33.33% {
    background: linear-gradient(165deg, #8d27db, #33eacc);
  }
  66.66% {
    background: linear-gradient(165deg, #c3f41f, #ea6133);
  }
}
.about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_p_wrap .abt_profile_pic {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 23px;
  overflow: hidden;
  background-color: #0c0c23;
}
.about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_lname {
  width: 100%;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_lname {
    text-align: center;
  }
}
.about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_lname .abt_my_name {
  color: var(--text-color);
}
.about .abt_wrapper .abt_top .abt_left .abt_p_sticky_wrap .abt_lname .abt_career_line {
  color: var(--text-color);
}
.about .abt_wrapper .abt_top .abt_right {
  flex: 1;
  padding-top: 3rem;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right {
    width: 100%;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_background .abt_b_title {
  color: var(--text-color);
  white-space: nowrap;
  margin-bottom: 20px;
  position: relative;
  letter-spacing: 1.5px;
  font-weight: 400;
  text-align: right;
  padding-right: 70px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_background .abt_b_title {
    text-align: center;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_background .abt_b_title::before {
  background-color: var(--text-color);
  content: "";
  display: block;
  height: 1px;
  margin-left: 20px;
  position: relative;
  bottom: -20px;
  width: 50%;
  right: -100px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_background .abt_b_title::before {
    display: none;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_background .abt_b_title .secCounter {
  position: absolute;
  bottom: 0;
  right: 50px;
  padding-bottom: 2px;
  padding-right: 20px;
  color: aqua;
  font-size: 17px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_background .abt_b_title .secCounter {
    position: unset;
    margin-left: -37px;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_background .abt_back_texts {
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 200;
}
.about .abt_wrapper .abt_top .abt_right .abt_background .abt_back_texts::-moz-selection {
  background: #ff2f4f;
}
.about .abt_wrapper .abt_top .abt_right .abt_background .abt_back_texts::selection {
  background: #ff2f4f;
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack {
  padding: 5rem 0;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_tech_stack {
    padding: 2rem 0;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_title {
  color: var(--text-color);
  white-space: nowrap;
  display: flex;
  position: relative;
  letter-spacing: 1.5px;
  font-weight: 400;
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_title::after {
  background-color: var(--text-color);
  content: "";
  display: block;
  height: 1px;
  margin-bottom: -20px;
  margin-left: 20px;
  position: relative;
  bottom: -20px;
  width: 50%;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_title::after {
    display: none;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_title .sCounter {
  position: absolute;
  bottom: 0;
  padding-bottom: 2px;
  padding-right: 20px;
  color: aqua;
  font-size: 17px;
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_skillsTexts {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 200;
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav {
    margin-left: 0;
    justify-content: space-evenly;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav ul {
  margin-right: 50px;
  margin-top: 30px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav ul {
    margin-right: 20px;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav ul h2 {
  color: var(--text-color);
  padding: 0;
  margin-bottom: -10px;
  margin-left: -10px;
  font-size: 22px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav ul h2 {
    font-size: 0.9rem;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav ul li {
  position: relative;
  padding-top: 20px;
  display: block;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 200;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav ul li {
    font-size: 0.8rem;
  }
}
.about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav ul li:after {
  content: "▹";
  position: absolute;
  left: 0px;
  color: aqua;
  font-size: 20px;
  line-height: 12px;
  margin-left: -20px;
  margin-top: 10px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_top .abt_right .abt_tech_stack .abt_stack_nav ul li:after {
    margin-top: 2px;
  }
}
.about .abt_wrapper .abt_exp {
  padding: 4rem 0 1rem 0;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_exp {
    padding: 2rem 0 1rem 0;
  }
}
.about .abt_wrapper .abt_exp .abt_exp_title {
  text-align: center;
  color: var(--text-color);
  letter-spacing: 1.5px;
  font-weight: 400;
}
.about .abt_wrapper .abt_exp .abt_exp_title .eCounter {
  padding-bottom: 2px;
  margin-right: 10px;
  color: aqua;
  font-size: 17px;
}
.about .abt_wrapper .abt_exp .abt_career {
  padding-top: 2rem;
  gap: 20px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_exp .abt_career {
    flex-direction: column;
  }
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_left {
  width: 60%;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_exp .abt_career .abt_career_left {
    width: 100%;
  }
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_left .abt_career_title {
  font-family: "Space Mono";
  color: var(--text-color);
  padding-bottom: 1rem;
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_left .abt_career_par {
  padding-bottom: 20px;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 200;
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_left .abt_career_par::-moz-selection {
  background: #ff2f4f;
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_left .abt_career_par::selection {
  background: #ff2f4f;
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_right {
  width: 35%;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_exp .abt_career .abt_career_right {
    width: 100%;
  }
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_right .abt_wid {
  font-family: "Space Mono";
  color: var(--text-color);
  padding-bottom: 10px;
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_right .abt_wid_wrapper .abt_wid_item {
  padding: 1rem;
  background-color: var(--background-modals);
  border-radius: 10px;
  margin-bottom: 1rem;
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_right .abt_wid_wrapper .abt_wid_item .abt_tiwid {
  font-family: "Space Mono";
  color: var(--text-color);
  font-size: 0.9rem;
}
.about .abt_wrapper .abt_exp .abt_career .abt_career_right .abt_wid_wrapper .abt_wid_item ._abt_tiwid {
  font-family: "Space Mono";
  color: var(--text-color);
  font-size: 0.7rem;
}
.about .abt_wrapper .abt_exp .abt_visualizations {
  padding: 2rem 0;
}
.about .abt_wrapper .abt_exp .abt_visualizations .abt_vis_wrapper {
  width: -moz-min-content;
  width: min-content;
  margin: 0 auto;
  gap: 1rem;
}
.about .abt_wrapper .abt_exp .abt_visualizations .abt_vis_wrapper .abt_vis_left h3,
.about .abt_wrapper .abt_exp .abt_visualizations .abt_vis_wrapper .abt_vis_right h3 {
  font-family: "VolteRounded-Bold";
  color: var(--text-color);
  font-size: 5rem;
  padding-right: 10px;
}
@media (max-width: 576px) {
  .about .abt_wrapper .abt_exp .abt_visualizations .abt_vis_wrapper .abt_vis_left h3,
  .about .abt_wrapper .abt_exp .abt_visualizations .abt_vis_wrapper .abt_vis_right h3 {
    font-size: 2rem;
  }
}
.about .abt_wrapper .abt_exp .abt_visualizations .abt_vis_wrapper .abt_vis_left .abt_vis_divider p,
.about .abt_wrapper .abt_exp .abt_visualizations .abt_vis_wrapper .abt_vis_right .abt_vis_divider p {
  color: var(--text-color);
}
.about .abt_wrapper .eTexts {
  padding: 4rem 0;
}
.about .abt_wrapper .eTexts .eTitle {
  position: relative;
  text-align: center;
  color: var(--text-color);
  letter-spacing: 1.5px;
  font-weight: 400;
}
@media (max-width: 576px) {
  .about .abt_wrapper .eTexts .eTitle {
    font-size: 1.3rem;
    margin-left: -10px;
  }
}
.about .abt_wrapper .eTexts .eTitle .eCounter {
  position: absolute;
  bottom: 0;
  padding-bottom: 2px;
  margin-right: 20px;
  color: aqua;
  font-size: 17px;
}
.about .abt_wrapper .eTexts .experiences .exp {
  margin: 5% 0;
}
.about .abt_wrapper .eTexts .experiences .exp .eOneTitle {
  color: var(--text-color);
  letter-spacing: 1.2px;
  font-weight: 400;
  margin-bottom: 10px;
}
.about .abt_wrapper .eTexts .experiences .exp .eOneTexts {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .about .abt_wrapper .eTexts .experiences .exp .eOneTexts {
    flex-direction: column;
  }
}
.about .abt_wrapper .eTexts .experiences .exp .eOneTexts p {
  color: var(--text-color);
  width: 70%;
  font-weight: 100;
}
@media (max-width: 576px) {
  .about .abt_wrapper .eTexts .experiences .exp .eOneTexts p {
    width: 100%;
    padding-bottom: 10px;
  }
}
.about .abt_wrapper .eTexts .experiences .exp .eOneTexts .eduration {
  color: var(--text-color);
  width: 20%;
  font-family: Inconsolata, monospace;
}
@media (max-width: 576px) {
  .about .abt_wrapper .eTexts .experiences .exp .eOneTexts .eduration {
    width: 100%;
  }
}/*# sourceMappingURL=about.css.map */