.home .home_wrapper {
  width: 100%;
}
.home .home_wrapper .landing .home_landing_left {
  width: 65%;
}
.home .home_wrapper .landing .home_landing_left .landing_intro_large {
  font-family: Apercu, "Volte Rounded";
  font-size: 4rem;
  color: var(--text-color);
  padding-bottom: 1rem;
}
.home .home_wrapper .landing .home_landing_left .landing_intro_large span {
  font-family: "VolteRounded-Bold";
  font-size: 4.4rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #db2777, #9333ea);
}
.home .home_wrapper .landing .home_landing_left .l_intro_par {
  color: var(--text-color);
  font-size: 1.2rem;
  padding-bottom: 20px;
}
.home .home_wrapper .landing .home_landing_left .lnd_buymeacofee {
  height: 50px;
  width: 200px;
  cursor: pointer;
  fill: var(--text-color);
}
.home .home_wrapper .landing .home_landing_right {
  width: 35%;
  flex-direction: column;
  align-items: flex-end;
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper {
  width: 80%;
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
  margin: 20px 0;
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper:nth-child(1) > .l_cta_bg_proj {
  background: linear-gradient(to right, #db2777, #9333ea);
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper:nth-child(2) > .l_cta_bg_proj {
  background: linear-gradient(to right, #8d27db, #33eacc);
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper:nth-child(3) > .l_cta_bg_proj {
  background: linear-gradient(to right, #c3f41f, #ea6133);
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper .l_cta_bg_proj {
  filter: blur(8px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper .l_cta_projects {
  gap: 10px;
  padding: 18px 10px;
  background-color: var(--background-modals);
  border-radius: 10px;
  justify-content: space-evenly;
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper .l_cta_projects:hover ~ .l_cta_bg_proj {
  filter: blur(1px);
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper .l_cta_projects .lcta_Ic {
  height: 25px;
  width: 25px;
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper .l_cta_projects .l_cta_par_one {
  line-height: 13px;
  font-size: 12px;
}
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper .l_cta_projects p,
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper .l_cta_projects span,
.home .home_wrapper .landing .home_landing_right .l_cta_wrapper .l_cta_projects .l_cta_trigger {
  color: var(--text-color);
  fill: var(--text-color);
}
.home .home_wrapper .home_blog_highlights {
  padding: 0 0 2rem 0;
}
.home .home_wrapper .home_blog_highlights .home_blog_high_top {
  border-bottom: 1px solid #404040;
}
.home .home_wrapper .home_blog_highlights .home_blog_high_top .home_blog_high_title {
  font-family: "VolteRounded-Bold";
  color: var(--text-color);
  font-size: 3.5rem;
  padding: 1.5rem 0;
}/*# sourceMappingURL=home.css.map */