.read {
  min-height: calc(100vh - 205px);
}
.read .read_error {
  padding-top: 4rem;
}
.read .read_error .read_not_found {
  font-family: "Space Mono", "VolteRounded-Bold", Apercu;
  color: var(--text-color);
  font-size: 3rem;
}
.read .read_error .read_par_err {
  font-size: 1.5rem;
  color: var(--text-color);
}
.read .read_wrapper .read_blog_header {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 30px;
}
.read .read_wrapper .read_blog_header .read_blog_date {
  gap: 0.5rem;
  width: -moz-min-content;
  width: min-content;
  text-align: center;
  margin: 0 auto;
}
.read .read_wrapper .read_blog_header .read_blog_date img {
  height: 25px;
  width: 25px;
}
.read .read_wrapper .read_blog_header .read_blog_date p {
  font-family: "Inconsolata", "Space Mono", Apercu;
  font-weight: 600;
  font-size: 1.5rem;
  white-space: nowrap;
  color: var(--text-color);
}
.read .read_wrapper .read_blog_header .read_blog_title {
  font-family: "VolteRounded-Bold", Apercu, "Space Mono";
  font-size: 3.5rem;
  text-align: center;
  padding: 20px 0;
  line-height: 3.5rem;
  font-weight: 800;
  color: var(--text-color);
}
@media (max-width: 576px) {
  .read .read_wrapper .read_blog_header .read_blog_title {
    font-size: 2rem;
    line-height: 2rem;
  }
}
.read .read_wrapper .read_blog_header .r_blg_meta {
  justify-content: center;
  gap: 1rem;
}
.read .read_wrapper .read_blog_header .r_blg_meta .r_blg_met_item:nth-child(1) .r_blg_met_Ic {
  height: 15px;
  width: 15px;
  fill: var(--text-color);
}
.read .read_wrapper .read_blog_header .r_blg_meta .r_blg_met_item .r_blg_met_Ic {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  fill: var(--text-color);
}
.read .read_wrapper .read_blog_header .r_blg_meta .r_blg_met_item span {
  color: var(--text-color);
}
.read .read_wrapper .read_blog_body {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-auto-rows: 1fr;
  gap: 10px;
}
@media (max-width: 576px) {
  .read .read_wrapper .read_blog_body {
    grid-auto-rows: unset;
  }
}
.read .read_wrapper .read_blog_body .r_blg_body_left {
  grid-column: span 1;
}
@media (max-width: 576px) {
  .read .read_wrapper .read_blog_body .r_blg_body_left {
    order: 2;
    grid-column: span 4;
  }
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap {
  position: sticky;
  top: 0;
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .blog_author {
  padding: 2rem 0;
  border-bottom: 1px solid var(--text-color);
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .blog_author .blg_author_profile {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 50%;
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .blog_author .blg_author_textuals {
  margin-left: 10px;
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .blog_author .blg_author_textuals h2 {
  color: var(--text-color);
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .blog_tags {
  flex-wrap: wrap;
  gap: 10px;
  padding: 2rem 0;
  border-bottom: 1px solid var(--text-color);
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .blog_tags .tag_text {
  color: var(--text-color);
  cursor: pointer;
  padding: 5px 10px;
  position: relative;
  white-space: nowrap;
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .blog_tags .tag_text::before {
  background: linear-gradient(45deg, #743ad5, #d53a9d);
  border-radius: 50px;
  content: "";
  inset: 0;
  -webkit-mask: linear-gradient(var(--text-color) 0 0) content-box, linear-gradient(var(--text-color) 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
  position: absolute;
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .read_blg_similar_blogs {
  padding: 1rem 0;
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .read_blg_similar_blogs .smlar_blg_title {
  padding: 10px 0;
  color: var(--text-color);
  text-transform: uppercase;
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .read_blg_similar_blogs .smlar_blgs_t_wrapper {
  padding: 0px 0 10px 0;
}
.read .read_wrapper .read_blog_body .r_blg_body_left .r_blg_body_left_sticky_wrap .read_blg_similar_blogs .smlar_blgs_t_wrapper .smlar_blgs_titles {
  color: #3c66ff;
  font-family: Apercu;
  font-weight: 700;
}
.read .read_wrapper .read_blog_body .r_blg_body_right {
  flex: 1;
  padding: 3rem 2rem;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  line-height: 1.75;
  overflow-x: scroll;
  overflow-y: hidden;
  color: var(--text-color);
}
.read .read_wrapper .read_blog_body .r_blg_body_right::-webkit-scrollbar {
  width: 8px;
}
.read .read_wrapper .read_blog_body .r_blg_body_right::-webkit-scrollbar-thumb {
  background-color: #9bc1ff;
  border-radius: 4px;
}
.read .read_wrapper .read_blog_body .r_blg_body_right::-webkit-scrollbar-thumb:hover {
  background-color: #79acff;
}
.read .read_wrapper .read_blog_body .r_blg_body_right::-webkit-scrollbar-track {
  background-color: transparent;
}
.read .read_wrapper .read_blog_body .r_blg_body_right .r_blg_body__content {
  color: var(--text-color);
}
.read .read_wrapper .read_blog_body .r_blg_body_right .r_blg_body__content img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.read .read_wrapper .read_blog_body .r_blg_body_right .r_blg_body_comments {
  width: 99%;
}
@media (max-width: 576px) {
  .read .read_wrapper .read_blog_body .r_blg_body_right {
    order: 1;
    grid-column: span 4;
    padding: 2rem 0;
  }
}

.blog-pre {
  margin-bottom: 3em !important;
  position: relative;
}

.code-copy-btn {
  color: white;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 20px;
  z-index: 10;
}

.code-copy-btn:hover {
  transform: scale(1.1);
  opacity: 0.9;
}/*# sourceMappingURL=read.css.map */