$color1: #db2777;
$color2: #9333ea;
$color3: #8d27db;
$color4: #33eacc;
$color5: #c3f41f;
$color6: #ea6133;

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Inconsolata:wght@200;300;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');

.about {
  .abt_wrapper {
    .abt_top {
      .abt_left {
        width: 28.7%;
        height: 770px;
        margin-right: 20px;
        .abt_p_sticky_wrap {
          position: sticky;
          position: -webkit-sticky;
          height: min-content;
          top: 0px;
          .abt_me_title {
            font-family: 'Space Mono';
            color: var(--text-color);
          }
          .abt_p_wrap {
            position: relative;
            height: 220px;
            width: 220px;
            margin: 2rem 0;
            .abt_p_bg {
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              border-radius: 23px;
              border: 30px solid transparent;
              background-clip: padding-box;
              filter: blur(4px);
              opacity: 0.8;
              animation: changeBackground 60s ease-in-out infinite;
            }
            @keyframes changeBackground {
              0%,
              100% {
                background: linear-gradient(165deg, $color1, $color2);
              }
              33.33% {
                background: linear-gradient(165deg, $color3, $color4);
              }
              66.66% {
                background: linear-gradient(165deg, $color5, $color6);
              }
            }
            .abt_profile_pic {
              position: absolute;
              top: 2px;
              bottom: 2px;
              left: 2px;
              right: 2px;
              border-radius: 23px;
              overflow: hidden;
              background-color: #0c0c23;
            }
          }
          .abt_lname {
            width: 100%;
            .abt_my_name {
              color: var(--text-color);
            }
            .abt_career_line {
              color: var(--text-color);
            }
          }
        }
      }
      .abt_right {
        flex: 1;
        padding-top: 3rem;
        .abt_background {
          .abt_b_title {
            color: var(--text-color);
            white-space: nowrap;
            margin-bottom: 20px;
            position: relative;
            letter-spacing: 1.5px;
            font-weight: 400;
            text-align: right;
            padding-right: 70px;
            &::before {
              background-color: var(--text-color);
              content: '';
              display: block;
              height: 1px;
              margin-left: 20px;
              position: relative;
              bottom: -20px;
              width: 50%;
              right: -100px;
            }
            .secCounter {
              position: absolute;
              bottom: 0;
              right: 50px;
              padding-bottom: 2px;
              padding-right: 20px;
              color: aqua;
              font-size: 17px;
            }
          }
          .abt_back_texts {
            color: var(--text-color);
            font-size: 1.2rem;
            font-weight: 200;
            &::selection {
              background: #ff2f4f;
            }
          }
        }
        .abt_tech_stack {
          padding: 5rem 0;
          .abt_stack_title {
            color: var(--text-color);
            white-space: nowrap;
            display: flex;
            position: relative;
            letter-spacing: 1.5px;
            font-weight: 400;
            &::after {
              background-color: var(--text-color);
              content: '';
              display: block;
              height: 1px;
              margin-bottom: -20px;
              margin-left: 20px;
              position: relative;
              bottom: -20px;
              width: 50%;
            }
            .sCounter {
              position: absolute;
              bottom: 0;
              padding-bottom: 2px;
              padding-right: 20px;
              color: aqua;
              font-size: 17px;
            }
          }
          .abt_skillsTexts {
            color: var(--text-color);
            font-size: 1.4rem;
            font-weight: 200;
          }
          .abt_stack_nav {
            display: flex;
            justify-content: space-between;
            margin-left: 40px;
            ul {
              margin-right: 50px;
              margin-top: 30px;
              h2 {
                color: var(--text-color);
                padding: 0;
                margin-bottom: -10px;
                margin-left: -10px;
                font-size: 22px;
              }
              li {
                position: relative;
                padding-top: 20px;
                display: block;
                color: var(--text-color);
                font-size: 18px;
                font-weight: 200;
              }
              li:after {
                content: '▹';
                position: absolute;
                left: 0px;
                color: aqua;
                font-size: 20px;
                line-height: 12px;
                margin-left: -20px;
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
    .abt_exp {
      padding: 4rem 0 1rem 0;
      .abt_exp_title {
        text-align: center;
        color: var(--text-color);
        letter-spacing: 1.5px;
        font-weight: 400;
        .eCounter {
          padding-bottom: 2px;
          margin-right: 10px;
          color: aqua;
          font-size: 17px;
        }
      }
      .abt_career {
        padding-top: 2rem;
        gap: 20px;
        .abt_career_left {
          width: 60%;
          .abt_career_title {
            font-family: 'Space Mono';
            color: var(--text-color);
            padding-bottom: 1rem;
          }
          .abt_career_par {
            // color: var(--text-color);
            // font-weight: 100;
            padding-bottom: 20px;
            color: var(--text-color);
            font-size: 1.2rem;
            font-weight: 200;
            &::selection {
              background: #ff2f4f;
            }
          }
        }
        .abt_career_right {
          width: 35%;
          .abt_wid {
            font-family: 'Space Mono';
            color: var(--text-color);
            padding-bottom: 10px;
          }
          .abt_wid_wrapper {
            .abt_wid_item {
              padding: 1rem;
              background-color: var(--background-modals);
              border-radius: 10px;
              margin-bottom: 1rem;
              .abt_tiwid {
                font-family: 'Space Mono';
                color: var(--text-color);
                font-size: 0.9rem;
              }
              ._abt_tiwid {
                font-family: 'Space Mono';
                color: var(--text-color);
                font-size: 0.7rem;
              }
            }
          }
        }
      }
      .abt_visualizations {
        padding: 2rem 0;
        .abt_vis_wrapper {
          width: min-content;
          margin: 0 auto;
          gap: 1rem;
          .abt_vis_left,
          .abt_vis_right {
            h3 {
              font-family: 'VolteRounded-Bold';
              color: var(--text-color);
              font-size: 5rem;
              padding-right: 10px;
            }
            .abt_vis_divider {
              p {
                color: var(--text-color);
              }
            }
          }
        }
      }
    }
    .eTexts {
      padding: 4rem 0;
      .eTitle {
        position: relative;
        text-align: center;
        color: var(--text-color);
        letter-spacing: 1.5px;
        font-weight: 400;
        .eCounter {
          position: absolute;
          bottom: 0;
          padding-bottom: 2px;
          margin-right: 20px;
          color: aqua;
          font-size: 17px;
        }
      }
      .experiences {
        .exp {
          margin: 5% 0;
          .eOneTitle {
            color: var(--text-color);
            letter-spacing: 1.2px;
            font-weight: 400;
            margin-bottom: 10px;
          }
          .eOneTexts {
            display: flex;
            justify-content: space-between;
            p {
              color: var(--text-color);
              width: 70%;
              font-weight: 100;
            }
            .eduration {
              color: var(--text-color);
              width: 20%;
              font-family: Inconsolata, monospace;
            }
          }
        }
      }
    }
  }
}
