.BreadCrumb {
  padding-bottom: 20px;
  .br_crumb_text {
    color: var(--text-color);
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    @media (max-width: 576px) {
      font-size: 1rem;
    }
    .typewriter_infinite {
      position: absolute;
      top: 2px;
      font-size: 0.8rem;
      color: var(--text-color);
      animation: cursor-blink 0.8s infinite;
      @media (max-width: 576px) {
        top: -2px;
        font-size: 0.7rem;
      }
    }
  }
}

@keyframes cursor-blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
