.header {
  .container {
    .h_wrapper {
      .h_brand {
        height: 35px;
      }
      .h_nav_wrapper {
        .h_navigation {
          padding-right: 20px;
          .h_unlist {
            .n_link_item {
              .n_lnk_redirect {
                font-family: Apercu;
                font-size: 1.2rem;
                font-weight: 500;
                color: var(--text-color);
              }
            }
          }
        }
        .h_actions {
          .h_actions_theme_ic {
            fill: var(--text-color);
          }
        }
      }
    }
  }
}
