.read {
  min-height: 50vh;
  .read_wrapper {
    .read_blog_header {
      .read_blog_date {
        gap: 0.5rem;
        width: min-content;
        text-align: center;
        margin: 0 auto;
        img {
          height: 25px;
          width: 25px;
        }
        p {
          font-family: 'Inconsolata', 'Space Mono', Apercu;
          font-weight: 600;
          font-size: 1.5rem;
          white-space: nowrap;
        }
      }
      .read_blog_title {
        font-family: 'VolteRounded-Bold', Apercu, 'Space Mono';
        font-size: 3.5rem;
        text-align: center;
        padding: 20px 0;
        line-height: 3.5rem;
        font-weight: 800;
      }
      .r_blg_meta {
        justify-content: center;
      }
    }
  }
}
