.resume {
  .resume_wrapper {
    position: relative;
    height: calc(100vh - 205px);
    .resume_req_form {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -15%);
      .grad_cap_resume {
        height: 150px;
        width: 150px;
        margin: 0 auto;
      }
      .res_res_frm {
        background-color: var(--background-modals);
        border-radius: 30px;
        overflow: hidden;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        .res_req_frm_group {
          flex: 1;
          width: 100%;
          .res_req_input {
            all: unset;
            padding: 20px 20px 20px 30px;
            width: 350px;
            color: var(--text-color);
            font-size: 1.1rem;
          }
        }
        .res_req_btn {
          padding: 20px 20px;
          background-color: #2ac6ff;
          color: #fff;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 1.6px;
          text-transform: uppercase;
          min-width: 80px;
          height: 22px;
        }
      }
    }
    .res_req_info {
      text-align: center;
      color: var(--text-color);
    }
  }
}
