.container_5 {
  margin: 0 5%;
}
.container_10 {
  margin: 0 10%;
}
.container_12 {
  margin: 0 12%;
  @media (max-width: 576px) {
    margin: 0 5%;
  }
}
.container_20 {
  margin: 0 20%;
}
.flex {
  display: flex;
}
.f_row {
  flex-direction: row;
}
.f_column {
  flex-direction: column;
}
.f_space_between {
  justify-content: space-between;
}
.f_align_center {
  align-items: center;
}
.f_wrap {
  flex-wrap: wrap;
}
.gap_10 {
  gap: 10px;
}
.gap_20 {
  gap: 20px;
}

.p_v_10 {
  padding: 10px 0;
}
.p_h_10 {
  padding: 0 10px;
}
.p_v_20 {
  padding: 20px 0;
}
.p_h_20 {
  padding: 0 20px;
}
.p_v_40 {
  padding: 40px 0;
}
.p_h_40 {
  padding: 0 40px;
}
.icon {
  height: 25px;
  width: 25px;
}
.c_p {
  cursor: pointer;
}

.sm_rotate_h {
  &:hover {
    animation: rotate 0.9s linear infinite;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  height: 100%;
  width: 100%;
}

@keyframes animated-gradient-text_fade {
  0%,
  to {
    background-image: linear-gradient(90deg, #db2777, #9333ea);
  }

  33.333%,
  50% {
    background-image: linear-gradient(90deg, #8d27db, #33eacc);
  }

  16.667%,
  66.667% {
    background-image: linear-gradient(90deg, #c3f41f, #ea6133);
  }
}

// media queries breakpoints
@media (max-width: 576px) {
  /* Your CSS rules for extra small devices */
}
@media (min-width: 577px) and (max-width: 768px) {
  /* Your CSS rules for small devices */
}
@media (min-width: 769px) and (max-width: 992px) {
  /* Your CSS rules for medium devices */
}
@media (min-width: 993px) and (max-width: 1200px) {
  /* Your CSS rules for large devices */
}
@media (min-width: 1201px) {
  /* Your CSS rules for extra large devices */
}
